<h2>Sign up</h2>

<div class="container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="errors">
      <%= devise_error_messages! %>
    </div>

    
    <div class="row">
      <div class="col-md-6">
        <div class="field form-group">
          <input type="text" name="centre_ps" class="form-control" autofocus="true" placeholder="<%= t("admins.centre_ps") %>" required>
        </div>
        <div class="field form-group">
          <input type="text" name="first_name" class="form-control" autofocus="true" placeholder="<%= t("admins.first_name") %>" required>
        </div>
        <div class="field form-group">
          <input type="text" name="last_name" class="form-control" autofocus="true" placeholder="<%= t("admins.last_name") %>" required>
        </div>
        <div class="field form-group">
          <input type="text" name="contact" class="form-control" autofocus="true" placeholder="<%= t("admins.contact") %>" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="admin-info">
          <div class="field form-group">
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: t("admins.mail"), required: true %>
          </div>

          <div class="field form-group">
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: t("admins.password"), required: true %>
          </div>

          <div class="field form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: t("admins.confirm_password"), required: true %>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="actions form-group">
          <%= f.submit t("admins.registrations.new.submit"), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
