<p><%= t("devise.mailer.confirmation_instructions.hello", email: @admin.name) %></p>
<p><%= t("devise.mailer.confirmation_instructions.need_verification") %></p>

<p><%= t("devise.mailer.confirmation_instructions.click_link") %></p>

<p><%= link_to t("devise.mailer.confirmation_instructions.link_text"), confirmation_url(@resource, confirmation_token: @token) %></p>

<br>

<p><strong><%= t("devise.mailer.confirmation_instructions.not_ask_email") %></strong></p>
<p><%= t("devise.mailer.confirmation_instructions.no_problem") %></p>
