<%= stylesheet_link_tag "admin" %>

<div class="container pt-5">
  <div class="text-center admin registration">
    <div class="d-flex justify-content-center row">
      <div class="col-md-3">
        <%= image_tag("logo.png", alt: t("admins.appname"), class: "logo img-fluid") %>
      </div>
    </div>
  </div>

  <div class="text-center password">
    <div class="d-flex justify-content-center row align-items-center">
      <div class="col-11-offset-1 col-md-8-offset-4 col-lg-5-offset-7">
        <div class="content-box">
          <h3 class="py-5"><%= t("admins.passwords.new.header") %></h3>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <div class="errors">
              <%= devise_error_messages! %>
            </div>
            <% if notice %>
              <p class="notice alert alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="notice alert alert-danger"><%= alert %></p>
            <% end %>
            <div class="field form-group pb-5">
              <%= f.email_field :email, autofocus: true , class: "form-control", placeholder: t("admins.mail") %>
            </div>

            <div class="actions form-group">
              <%= f.submit t("admins.registrations.new.submit"), class: "btn btn-primary" %>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
