<div class="text-center">
  <div class="d-flex justify-content-center row align-items-center">
    <div class="col-11-offset-1 col-md-7-offset-5 col-lg-5-offset-7">
      <h5><%= t("admins.passwords.new.header") %></h5>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <% if notice %>
          <p class="notice alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="notice alert alert-danger"><%= alert %></p>
        <% end %>

        <div class="field form-group">
          <%= f.email_field :email, autofocus: true , class: "form-control", placeholder: t("admins.mail") %>
        </div>

        <div class="actions">
          <%= f.submit t("admins.passwords.new.reset_password"), :class => 'btn btn-primary btn_round btn-lg' %>
        </div>
    </div>
  </div>
</div>
